<?xml version="1.0" encoding="UTF-8"?>
<!--

       版权所有 2009-2022 原作者或多位原作者。

根据 Apache 许可证 2.0 版（以下简称“许可证”）获得许可;
       除非遵守许可，否则您不得使用此文件。
       您可以在以下位置获取许可证的副本

https://www.apache.org/licenses/LICENSE-2.0

除非适用法律要求或书面同意，否则软件
       根据许可分发的是按“原样”分发，
       不作任何明示或暗示的保证或条件。
       有关管理权限的特定语言，请参阅许可证，以及
       许可证的限制。

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.autoconstructor.AutoConstructorMapper">
</mapper>
